		<footer class="footer">
			<div class="footer--container">
				<div class="footer--aside">
					<div class="footer--text1">Успей купить!</div>
					<div class="footer--text2">Подпишись и успей словить все акции</div>
				</div>
				<div class="footer--bside">
					<form method="POST" action="#" class="form">
						<div class="form--group">
							<label for="email" class="form--label">E-mail</label>
							<input id="email" type="email" placeholder="E-mail" class="form--input">
						</div>
						<div class="form--group">
							<button type="submit" class="form--submit">Подписаться</button>
						</div>
						<div class="form--group">
							<input type="checkbox" class="form--checkbox">
							<span class="form--span">подписаться на новости</span>
						</div>
					</form>
				</div>
			</div>
		</footer>
	</div>
	<button type="button" class="up js-up"></button>
	<!-- Pre-loader -->
	<div class="loader">
		<div class="loaderInner">
			<!-- GIF? Animated SVG? -->
		</div>
	</div>
	<!-- Pre-loader -->
	<script src="./lib/jquery/dist/jquery.min.js"></script>
	<script src="./js/main.js"></script>	
</body>
</html>