<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Description">
	<meta name="author" content="smirnow_s">

	<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="./lib/normalize.css/normalize.css">
	<link rel="stylesheet" href="./css/style.css">
	<title>Kelnik</title>
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="container header--container">
				
				<div class="header--main">
					<a href="./" class="logo">
						<img src="./img/logo@2x.png" alt="Логотип" class="logo--img">			
					</a>
					
					<button type="button" class="menu menu--toggler js-menu-toggler">
					  <svg class="menu--ham js-menu-ham menu--ham-active" viewBox="0 0 28.5 23.29">
					    <line class="line" x1="1.5" y1="1.5" x2="27" y2="1.5"/>
					    <line class="line-mid-1" x1="1.5" y1="11.65" x2="27" y2="11.65"/>
					    <line class="line-mid-2" x1="1.5" y1="11.65" x2="27" y2="11.65"/>
					    <line class="line" x1="1.5" y1="21.79" x2="27" y2="21.79"/>
					  </svg>
					</button>	
				</div>

				<div class="header--collapse js-collapse">
					<div class="nav">
						<ul class="nav--list">
							<li class="nav--item"><a href="#" class="nav--link">Объекты</a></li>
							<li class="nav--item"><a href="#" class="nav--link">Компания</a></li>
							<li class="nav--item"><a href="#" class="nav--link">Как купить</a></li>
							<li class="nav--item"><a href="#" class="nav--link">Агентам</a></li>
							<li class="nav--item"><a href="#" class="nav--link">Регионам</a></li>
							<li class="nav--item"><a href="#" class="nav--link">Акции</a></li>
							<li class="nav--item"><a href="#" class="nav--link">Контакты</a></li>
						</ul>
					</div>
					<div class="contact">
						<a href="tel:+7888888898" class="contact--tel">8 888 88 88 98</a>
						<div class="contact--note">Звони скорее!</div>
					</div>
				</div>


			</div>
		</header>
